<html xmlns = "http://www.thymeleaf.org">

	<head>
	
		<title>Add Courses</title>
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	
	</head>
	
	<body>
	
		<div class = "container">
		
			<hr/>
				<legend><b>Add New Course: </b></legend>
			<form th:action="@{/saveCourse(userId=${user.id})}" th:object="${course}" method="POST" class = "container">
			
				<div>
					<b><label>Course name:</label></b>
					<input type="text" th:field="*{name}" placeholder="Enter course name" class="form-control col-4 mb-4" minlength="4" maxlength="25" required />
						<span th:if="${#fields.hasErrors('name')}"class="label label-danger" th:errors="*{name}"></span>Name must be between 4 and 
						25 characters and unique.</p>
					</p>
				</div>
				
				<div>
					<b><label>Year</label></b>
					<p>
					<select th:field="*{year}" class="col-2 mb-3">
					<option th:each= "year : ${allYears}"
							th:value="${year}"
							th:text = "${year}">
					</option>
					</select>
					</p>
				</div>
				
				<b><label>Semester</label></b>
				<p>
				<select th:field="*{semester}" class ="mb-4 col-2 ">
				<option th:each= "semester : ${allSemesters}"
						th:value="${semester}"
						th:text = "${semester}">
				</option>
				</select>
				<p>
			
				<div>
					<b><label>Description:</label></b>
					<input type="text" th:field="*{syllabus}" placeholder="Enter syllabus" class="form-control col-4 mb-4" minlength="2" maxlength="50" required/>
						<span th:if="${#fields.hasErrors('syllabus')}"class="label label-danger" th:errors="*{syllabus}"></span>Description must be between 2 and 
						50 characters.</p>
					</p>
				</div>
				
				<button class="btn btn-primary" type="submit">Save</button>
				
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{wproject}" />
				<input type="hidden" th:field="*{wexam}" />
				<input type="hidden" th:field="*{minproj}" />
				<input type="hidden" th:field="*{minexam}" />
				
			</form>
			
			<hr/>
			<a th:href="@{/}">Back to Courses</a>
			
		</div>
		
	</body>

</html>